# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.restore
release.properties
dependency-reduced-pom.xml
build.log
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Eclipse
.settings/
.classpath
.project
.metadata/

# Binaries
*.class
*.jar
*.war
*.ear

# Project Specific
backend/models/
backend/data/
*.onnx
*.pb
*.rar

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db
